@import "tailwindcss";
@import 'pixel-retroui/dist/fonts.css';

@font-face {
  font-family: 'Kick';
  src: url('./fonts/kick-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-kick {
  font-family: 'Kick', 'Press Start 2P', monospace !important;
}